@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-300: hsl(231, 77%, 90%);
  --blue-900: hsl(230, 35%, 7%) ;
}

body {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
}
.header__logo {
  width: 582px;
  height: 48px;
  margin-top: 40px;
  margin-left: 8px;
  display: flex;
}
.header .logo__img {
  height: 48px;
  width: 48px;
}
.header__nav {
  margin-top: 40px;
  display: flex;
  gap: 48px;
  background: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
  width: 960px;
  height: 96px;
  justify-content: center;
}
.header__nav .nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 19.2%;
  width: 118px;
  height: 96px;
  list-style-type: none;
  text-decoration: none;
  position: relative;
}
.header__nav .nav__item span {
  margin-right: 10px;
  font-weight: 500;
}
.header__nav .nav__item::after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}
.header__nav .nav__item:hover::after {
  width: 50%;
}

.line {
  position: absolute;
  left: 9%;
  border: 0;
  border-bottom: 1px solid hsl(230, 9%, 25%);
  width: 756px;
  margin-left: 64px;
  margin-top: 23.5px;
  margin-bottom: 23.5px;
}

.container {
  max-height: 888px;
}
.container__hero {
  position: relative;
  top: 50px;
  margin: 0 165px;
  height: 632px;
  display: flex;
  align-items: flex-end;
}
.container .hero__flex {
  height: 343px;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero__flex-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 100px;
  align-items: flex-start;
  height: 100%;
  width: 50%;
}

.hero__flex-left h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 28px;
  color: var(--blue-300);
}

.hero__flex-left h1 {
  color: white;
  font-size: 144px;
  font-family: "Bellefair", serif;
  font-weight: normal;
}

.hero__flex-left p {
  height: 96px;
  width: 480px;
  color: var(--blue-300);
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 180%;
}

.hero__flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 115px;
  height: 100%;
  width: 50%;
}

.hero__flex-right a {
  display: inline-block;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
}

.hero__flex-right a:hover {
  box-shadow: 0 0 5px 80px rgba(216, 203, 203, 0.5);
}

.right-btn {
  width: 272px;
  height: 272px;
  border-radius: 50%;
  border: 0;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  line-height: 36.7px;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */